.message-list {
    margin-right: 30px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 16px;
    color: #5f6368;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.sender-name {
    font-weight: 500;
}

.message-date {
    font-size: 0.8rem;
    color: gray;
}

.mdc-list-item{
    border-radius: 0 !important;
}

.unread-item {
    background-color: rgba(63, 81, 181, 0.1) !important;
}
.unread-item .sender-name {
    font-weight: 800 !important;
}

.message-preview {
    color: #666;
    font-size: 0.9em;
}