.message-list {
    margin-right: 30px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 16px;
    color: #5f6368;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.sender-name {
    font-weight: bold;
}

.message-date {
    font-size: 0.8rem;
    color: gray;
}

.mdc-list-item{
    border-radius: 0 !important;
}

.mdc-list-item--activated {
    background-color: rgba(var(--mat-primary-rgb), 0.05); /* Przykładowy kolor tła */
}

.mdc-list-item--activated .sender-name {
    color: black;
}

.message-preview {
    color: #666;
    font-size: 0.9em;
}