:host {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 20vh 60vh 20vh;
    justify-items: center;
    align-items: center;
}

.register-form { grid-area: 2 / 2 / 3 / 3; }