<div class="message-wrapper">
    @if (isLoading()) {
        <div class="loading-container">
            <mat-spinner strokeWidth="7" diameter="100"></mat-spinner>
        </div>
    } @else if (message(); as msg) {
        <div class="message-container">
            <header class="message-header">
                <h1 class="subject-title">{{ msg.subject }}</h1>
            </header>

            <div class="meta-section">
                <div class="user-info">
                    <div class="user-details">
                        <div style="display: flex;flex-direction: row;gap: 6px;">
                            <span>From:</span>
                            <span class="user-name">{{ msg.sender }}</span>
                        </div>
                        <div style="display: flex;flex-direction: row; justify-content: space-between">
                            <div style="display: flex;flex-direction: row;gap: 6px;">
                                <span>To:</span>
                                <span class="user-name">{{ msg.receivers.join(', ') }}</span>
                            </div>
                            <span class="date-label">{{ msg.date | date: 'dd.MM.yyyy, HH:mm' }}</span>
                        </div>



                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <article class="message-content">
                {{ msg.text }}
            </article>

            <footer class="message-footer">
                @if (msg.attachments && msg.attachments.length > 0) {
                    <div class="attachment-display-section">
            <span class="attachment-label">
                <mat-icon inline>attach_file</mat-icon>
                Attachments ({{ msg.attachments.length }})
            </span>

                        <mat-chip-set class="attachment-chips">
                            @for (file of msg.attachments; track file.name) {
                                <mat-chip (click)="downloadAttachment(file)" class="downloadable-chip icon-text-in-line">
                                    <mat-icon matChipAvatar>insert_drive_file</mat-icon>
                                    <span class="file-name">{{ file.name }}</span>
                                    <span class="file-size">({{ formatFileSize(file.size) }})</span>
                                    <mat-icon class="download-icon">download</mat-icon>
                                </mat-chip>
                            }
                        </mat-chip-set>
                    </div>
                }
            </footer>
        </div>
    }
</div>