.sidenav-container {
    height: 100vh;
    background-color: #f5f5f5;
}

.mail-sidenav {
    border-right: none;
    background: #fdfdfd;
    padding-top: 16px;
}

.new-message-wrapper {
    padding: 4px 4px 10px 10px;
}

.new-message-btn {
    border-radius: 14px;
    height: 56px;
    padding-right: 12px;
}

.mat-mdc-list-item {
    margin: 0 0;
    border-radius: 0 !important;
}

.active-link {
    background-color: rgba(var(--mat-primary-rgb), 0.1) !important;
    font-weight: bold;
}
