.main-grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 0px;
    height: 100vh;
    width: 100vw;
}

.side-bar-container {
    grid-area: 1 / 1 / 3 / 2;
}

.top-content-container{
    grid-area: 1 / 2 / 2 / 3;
}

.messages-container {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}