.enter-animation{
    animation: slide-in 1s;
}

.leave-animation{
    animation: slide-out 1s;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.password-strength-checker p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: green;
    font-size: 12px;
    margin: 4px 0;
    transition: color 0.3s;
}

.password-strength-checker p.error {
    color: red;
}

mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
}

