mat-card{
    width: fit-content;
}

.card-content{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.input-fields{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.input-fields mat-form-field{
    width: 100%
}

:host {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 30vh 30vh 10vh 30vh;
    justify-items: center;
    align-items: center;
}

.login-form { grid-area: 2 / 2 / 3 / 3; }
.bottom-text { grid-area: 3 / 2 / 4 / 3; }





